@charset "utf-8";
@media only screen and (min-device-width : 719px) and (max-device-width : 721px) and (orientation : portrait) { 
div.scales
{
   transform: scale(0.37);
   -ms-transform: scale(0.37); /* IE 9 */
   -webkit-transform: scale(0.37); /* Safari and Chrome */
   -o-transform: scale(0.37); /* Opera */
   -moz-transform: scale(0.37); /* Firefox */
   transform-origin: top center;
   -ms-transform-origin: top center;
   -webkit-transform-origin: top center;
   -o-transform-origin: top center;
   -moz-transform-origin: top center;
}
}

/* CSS Document */
html {height: 100%;}
body {background: url(images/paper_fibers.png); height: 100%;}
section#branding {padding-top:2%; display: block; position: relative; 	}
section#branding #brand-top {background: url(images/section-brandbg-top.png) repeat-x top ;  position: relative; }

section#branding ul {display: block; height: 90vh; width: 100%; margin: 0; padding: 0; background: url(images/brandlogo.png) no-repeat center center;}

section#branding #brand-bottom {
    background: url("images/section-brandbg-bottom.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    height: 277px;
    position: absolute;
    width: 100%;
}
section#nav {
    border: 1px solid #DDDDD6;
    height: 6%;
    min-height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
	background: url(images/paper_fibers.png);
	z-indeX: 1000;
}

.nav-menu ul {height: 100px; display: block;}
.nav-menu ul li {float: left;}
h2 {  font-family: "trajan-pro-3"; color: #a6bcde; font-weight: 100; }
.tagline h2 {letter-spacing: 10px; text-align: center; color: #a58760; text-shadow: 1px 1px 0px #FFF; text-indent: 20px;}
ul,li {list-item-style: none; list-style: none;}
.tagline {position: absolute; top: 77%; left: 40%;}
.noDisplay {display: none;}

 
